<div class="row searchAllRow">
  <div class="col-sm-7"></div>
  <div class="col-sm-4">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
      </div>
      <input type="text" (keyup)="filter()" name="filters.all" [(ngModel)]="filters.all" class="form-control"
        placeholder="Search..." aria-label="Username" aria-describedby="basic-addon1" />
    </div>
  </div>
  <div class="col-sm-1">
    <app-add-location-modal [(Data)]="Data"></app-add-location-modal>
  </div>

</div>
<div class="row">
  <table class="table table-borderless aptivTable">
    <thead>
      <tr>
        <th class="aptivTblHeaderColumns">
          <div class="row aptivTblFilterSectionTop">
            <div class="col-sm">
              IDs
            </div>
          </div>
          <div class="row aptivTblFilterSectionBottomRow">
            <div class="col-sm aptivTblFilterSectionBottomCol">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                </div>
                <input type="text" class="form-control aptivTblFilterInput" name="filters.id" (keyup)="filter()"
                  [(ngModel)]="filters.id" />
              </div>
            </div>
          </div>
        </th>
        <th class="aptivTblHeaderColumns">
          <div class="row aptivTblFilterSectionTop">
            <div class="col-sm">
              Unit
            </div>
          </div>
          <div class="row aptivTblFilterSectionBottomRow">
            <div class="col-sm aptivTblFilterSectionBottomCol">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                </div>
                <input type="text" class="form-control aptivTblFilterInput" name="filters.unit" (keyup)="filter()"
                  [(ngModel)]="filters.unit" />
              </div>
            </div>
          </div>
        </th>
        <th class="aptivTblHeaderColumns">
          <div class="row aptivTblFilterSectionTop">
            <div class="col-sm">
              Building
            </div>
          </div>
          <div class="row aptivTblFilterSectionBottomRow">
            <div class="col-sm aptivTblFilterSectionBottomCol">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                </div>
                <input type="text" class="form-control aptivTblFilterInput" name="filters.building" (keyup)="filter()"
                  [(ngModel)]="filters.building" />
              </div>
            </div>
          </div>
        </th>
        <th class="aptivTblHeaderColumns">
          <div class="row aptivTblFilterSectionTop">
            <div class="col-sm">
              Street
            </div>
          </div>
          <div class="row aptivTblFilterSectionBottomRow">
            <div class="col-sm aptivTblFilterSectionBottomCol">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                </div>
                <input type="text" class="form-control aptivTblFilterInput" name="filters.street" (keyup)="filter()"
                  [(ngModel)]="filters.street" />
              </div>
            </div>
          </div>
        </th>
        <th class="aptivTblHeaderColumns">
          <div class="row aptivTblFilterSectionTop">
            <div class="col-sm">
              City
            </div>
          </div>
          <div class="row aptivTblFilterSectionBottomRow">
            <div class="col-sm aptivTblFilterSectionBottomCol">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                </div>
                <input type="text" class="form-control aptivTblFilterInput" name="filters.city" (keyup)="filter()"
                  [(ngModel)]="filters.city" />
              </div>
            </div>
          </div>
        </th>
        <th class="aptivTblHeaderColumns">
          <div class="row aptivTblFilterSectionTop">
            <div class="col-sm">
              Region
            </div>
          </div>
          <div class="row aptivTblFilterSectionBottomRow">
            <div class="col-sm aptivTblFilterSectionBottomCol">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                </div>
                <input type="text" class="form-control aptivTblFilterInput" name="filters.region" (keyup)="filter()"
                  [(ngModel)]="filters.region" />
              </div>
            </div>
          </div>
        </th>
        <th class="aptivTblHeaderColumns">
          <div class="row aptivTblFilterSectionTop">
            <div class="col-sm">
              Country
            </div>
          </div>
          <div class="row aptivTblFilterSectionBottomRow">
            <div class="col-sm aptivTblFilterSectionBottomCol">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                </div>
                <input type="text" class="form-control aptivTblFilterInput" name="filters.country" (keyup)="filter()"
                  [(ngModel)]="filters.country" />
              </div>
            </div>
          </div>
        </th>
        <th class="aptivTblHeaderColumns">
          <div class="row aptivTblFilterSectionTop">
            <div class="col-sm">
              Address Code
            </div>
          </div>
          <div class="row aptivTblFilterSectionBottomRow">
            <div class="col-sm aptivTblFilterSectionBottomCol">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                </div>
                <input type="text" class="form-control aptivTblFilterInput" name="filters.address_code" (keyup)="filter()"
                  [(ngModel)]="filters.address_code" />
              </div>
            </div>
          </div>
        </th>
        <th class="aptivTblHeaderColumns">
          <div class="row aptivTblFilterSectionTop">
            <div class="col-sm">
            </div>
          </div>
          <div class="row aptivTblFilterSectionBottomRow">
            <div class="col-sm aptivTblFilterSectionBottomCol">
              <div class="input-group">
                <input class="form-control aptivTblFilterInput CornerInput" aria-describedby="basic-addon1" disabled />
              </div>
            </div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Row of pagedData; let i = index">
        <td class="aptivTblBodyColumns">
          {{Row.id}}
        </td>
        <td class="aptivTblBodyColumns">
          {{Row.unit}}
        </td>
        <td class="aptivTblBodyColumns">
          {{Row.building}}
        </td>
        <td class="aptivTblBodyColumns">
          {{Row.street}}
        </td>
        <td class="aptivTblBodyColumns">
          {{Row.city}}
        </td>
        <td class="aptivTblBodyColumns">
          {{Row.region}}
        </td>
        <td class="aptivTblBodyColumns">
          {{Row.country}}
        </td>
        <td class="aptivTblBodyColumns">
          {{Row.address_code}}
        </td>
        <td class="aptivTblBodyColumns">
          <app-edit-location-modal [(Keys)]="FormsData" [(EditData)]="pagedData[i]"></app-edit-location-modal> |
          <app-delete-location-modal [(Key)]="Row.id"></app-delete-location-modal>
        </td>
      </tr>

    </tbody>
  </table>
</div>
<!-- <button style="float: right;" (click)="exportAsXLSX()"><img style="width: 40px; height: 40px;" src='../../../../assets/Images/excel.png'></button> -->
<div style="margin-top: 15px;">
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <button type="button" class="btn btn-light" (click)="setPage(1)">First</button>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <button type="button" class="btn btn-light" (click)="setPage(pager.currentPage - 1)">Previous</button>
    </li>
    <li *ngFor="let page of pager.pages">
      <span *ngIf="pager.currentPage === page">
        <button type="button" class="btn btn-light active" (click)="setPage(page)">{{page}}</button>
      </span>
      <span *ngIf="pager.currentPage !== page">
        <button type="button" class="btn btn-light" (click)="setPage(page)">{{page}}</button>
      </span>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <button type="button" class="btn btn-light" (click)="setPage(pager.currentPage + 1)">Next</button>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <button type="button" class="btn btn-light" (click)="setPage(pager.totalPages)">Last</button>
    </li>
  </ul>
</div>