<div class="row searchAllRow">
  <div class="col-sm-7"></div>
  <div class="col-sm-4">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
      </div>
      <input type="text" (keyup)="filter()" name="filters.all" [(ngModel)]="filters.all" class="form-control" placeholder="Search..."
        aria-label="Username" aria-describedby="basic-addon1" />
    </div>
  </div>
  <div class="col-sm-1">
    <app-add-item-modal [(Data)]="Data"></app-add-item-modal>
  </div>
</div>
<div class="row">
  <table class="table table-borderless aptivTable">
    <thead>
      <tr>
        <th class="aptivTblHeaderColumns">
          <div class="row aptivTblFilterSectionTop">
            <div class="col-sm">
              Item
            </div>
          </div>
          <div class="row aptivTblFilterSectionBottomRow">
            <div class="col-sm aptivTblFilterSectionBottomCol">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                </div>
                <input type="text" class="form-control aptivTblFilterInput" name="filters.name" (keyup)="filter()"
                  [(ngModel)]="filters.name" />
              </div>
            </div>
          </div>
        </th>
        <th class="aptivTblHeaderColumns">
          <div class="row aptivTblFilterSectionTop">
            <div class="col-sm">
                Serial Number
            </div>
          </div>
          <div class="row aptivTblFilterSectionBottomRow">
            <div class="col-sm aptivTblFilterSectionBottomCol">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                </div>
                <input type="text" class="form-control aptivTblFilterInput" name="filters.serial_number" (keyup)="filter()"
                  [(ngModel)]="filters.serial_number" />
              </div>
            </div>
          </div>
        </th>
        <th class="aptivTblHeaderColumns">
          <div class="row aptivTblFilterSectionTop">
            <div class="col-sm">
              Checked out?
            </div>
          </div>
          <div class="row aptivTblFilterSectionBottomRow">
            <div class="col-sm aptivTblFilterSectionBottomCol">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                </div>
                <input type="text" class="form-control aptivTblFilterInput" name="filters.checked_out_id" (keyup)="filter()"
                  [(ngModel)]="filters.checked_out_id" />
              </div>
            </div>
          </div>
        </th>
        <th class="aptivTblHeaderColumns">
          <div class="row aptivTblFilterSectionTop">
            <div class="col-sm">
              Owner ID
            </div>
          </div>
          <div class="row aptivTblFilterSectionBottomRow">
            <div class="col-sm aptivTblFilterSectionBottomCol">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                </div>
                <input type="text" class="form-control aptivTblFilterInput" name="filters.user_id" (keyup)="filter()"
                  [(ngModel)]="filters.user_id" />
              </div>
            </div>
          </div>
        </th>
        <th class="aptivTblHeaderColumns">
          <div class="row aptivTblFilterSectionTop">
            <div class="col-sm">
            </div>
          </div>
          <div class="row aptivTblFilterSectionBottomRow">
            <div class="col-sm aptivTblFilterSectionBottomCol">
              <div class="input-group">
                <input class="form-control aptivTblFilterInput CornerInput" aria-describedby="basic-addon1" disabled />
              </div>
            </div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Row of pagedData; let i = index">
        <td class="aptivTblBodyColumns">
          {{Row.name}}
        </td>
        <td class="aptivTblBodyColumns">
          {{Row.serial_number}}
        </td>
        <td class="aptivTblBodyColumns">
           <div *ngIf="Row.checked_out_id != null"> YES </div>
           <div *ngIf="Row.checked_out_id == null"> NO </div>
        </td>
        <td class="aptivTblBodyColumns">
          {{Row.user_id}}
        </td>
        <td class="aptivTblBodyColumns">
          <span>
            <app-edit-item-modal [(Keys)]="FormsData" [(EditData)]="pagedData[i]"></app-edit-item-modal> |
            <app-delete-modal [(Key)]="Row.id"></app-delete-modal>
            <span *ngIf="Row.computer"> | View</span>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  <p> Upload CSV File</p>
  <input type="file" (change)="onFileSelected($event)">
  <button style = "margin-left: -100px;" type = "button" (click)="onUpload()">Upload</button>
  <!-- <input type="file" ng2FileSelect [uploader]="uploader" >  -->
  <button style="float: right;" (click)="exportAsXLSX()"><img style="width: 40px; height: 40px;" src='assets/Images/excel.png'></button>

<!-- 
  <button type="button" class="btn btn-success btn-s" 
    (click)="uploader.uploadAll()" 
    [disabled]="!uploader.getNotUploadedItems().length" >
        Upload an Image
  </button> -->
<div style="margin-top: 15px;">
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <button type="button" class="btn btn-light" (click)="setPage(1)">First</button>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <button type="button" class="btn btn-light" (click)="setPage(pager.currentPage - 1)">Previous</button>
    </li>
    <li *ngFor="let page of pager.pages">
      <span *ngIf="pager.currentPage === page">
        <button type="button" class="btn btn-light active" (click)="setPage(page)">{{page}}</button>
      </span>
      <span *ngIf="pager.currentPage !== page">
        <button type="button" class="btn btn-light" (click)="setPage(page)">{{page}}</button>
      </span>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <button type="button" class="btn btn-light" (click)="setPage(pager.currentPage + 1)">Next</button>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <button type="button" class="btn btn-light" (click)="setPage(pager.totalPages)">Last</button>
    </li>
  </ul>
</div>