<nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="background:#d0d3d8 !important">
    <!-- Links -->
  <ul class="navbar-nav">
    <li style="margin-left: 50px;" class="nav-item">
      <a style="color: gray;" class="nav-link" href="#">Inventory</a>
    </li>
    <li style="margin-left: 50px;" class="nav-item">
      <a style="color: gray;" class="nav-link" href="#">Inventory Types</a>
    </li>
    <li style="margin-left: 50px;" class="nav-item">
      <a  style="color: gray;"class="nav-link" href="#">Regions</a>
    </li>
    <li class="nav-item" style="float: right; right: 0; position: absolute; margin-right: 50px; ">
    <!-- <li style="margin-left: 50px;"  class="nav-item"> -->
        <a style="color: gray;" class="nav-link" href="#">Admin</a>
      </li>
  </ul>
  <br>

</nav>