<div style="margin-top: 30px;" class="container bootstrap snippet">
    <div style="display: inline-flex">
      <div>
      <img style="width: 150x; height: 150px;" src="https://www.logolynx.com/images/logolynx/e5/e5ba79334133d2cb362dd639f755a392.png">
    </div>
    <div style="margin: 50px 0px 30px 120px;">
      <div style="display: inline-flex">
      <div>
      <input style="width: 300px;" type="text" class="form-control" id="usr" placeholder="First Name"> 
    </div>
    <div>
      <input style="width: 300px; margin-left: 30px;" type="text" class="form-control" id="pwd" placeholder="Last Name">
    </div>
      </div>
    </div>
    
  </div>
  <input style="width: 300px; margin-top: 50px;" type="text" class="form-control" id="pwd" placeholder="Username">
  <button style="margin-top: 15px; width: 150px;" type="button" class="btn">Save</button>
  <br><br><br><br>
  <h3>Password Reset</h3>
  <input style="width: 300px; margin-top: 50px;" type="text" class="form-control" id="pwd" placeholder="Old password">
  <input style="width: 300px; margin-top: 5px;" type="text" class="form-control" id="pwd" placeholder="New password">
  <input style="width: 300px; margin-top: 5px;" type="text" class="form-control" id="pwd" placeholder="Retype New password">
  <button style="margin-top: 15px; width: 150px;" type="button" class="btn">Reset</button>
  </div>