<div *ngIf="router.url != '/login' && router.url != '/forgot-password'">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" [routerLink]="['/inventory']"><img style="width: 150px; height: 45px; margin-top: -10px;" src="src/assets/Images/aptiv_logo_white.png"></a>

    <!-- Links -->
    <li style="float: right; right: 0; position: absolute; margin-right: 50px; list-style: none; ">
    <div class="dropdown">
      <a *ngIf="auth.CurrentUser" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false" style="color: white; cursor: pointer">
        {{auth.CurrentUser.first}} {{auth.CurrentUser.last}}
        <img style="height: 30px; width: 35px; padding-left: 5px;" src="https://www.logolynx.com/images/logolynx/e5/e5ba79334133d2cb362dd639f755a392.png">
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="Logout()">Logout</a>
      </div>
    </div>
    </li>
    <br>

  </nav>
</div>