<div class="row searchAllRow">
  <div class="col-sm-7"></div>
  <div class="col-sm-4">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
      </div>
      <input type="text" (keyup)="filter()" name="filters.all" [(ngModel)]="filters.all" class="form-control" placeholder="Search..."
        aria-label="Username" aria-describedby="basic-addon1" />
    </div>
  </div>
  <div class="col-sm-1">
    <app-add-user-modal [(Data)]="Data"></app-add-user-modal>
  </div>
</div>
<div class="row">
  <table class="table table-borderless aptivTable">
    <thead>
      <tr>
        <th class="aptivTblHeaderColumns">
          <div class="row aptivTblFilterSectionTop">
            <div class="col-sm">
              First Name
            </div>
          </div>
          <div class="row aptivTblFilterSectionBottomRow">
            <div class="col-sm aptivTblFilterSectionBottomCol">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                </div>
                <input type="text" class="form-control aptivTblFilterInput" name="filters.first" (keyup)="filter()"
                  [(ngModel)]="filters.first" />
              </div>
            </div>
          </div>
        </th>
        <th class="aptivTblHeaderColumns">
          <div class="row aptivTblFilterSectionTop">
            <div class="col-sm">
              Last Name
            </div>
          </div>
          <div class="row aptivTblFilterSectionBottomRow">
            <div class="col-sm aptivTblFilterSectionBottomCol">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                </div>
                <input type="text" class="form-control aptivTblFilterInput" name="filters.last" (keyup)="filter()"
                  [(ngModel)]="filters.last" />
              </div>
            </div>
          </div>
        </th>
        <th class="aptivTblHeaderColumns">
          <div class="row aptivTblFilterSectionTop">
            <div class="col-sm">
              Username
            </div>
          </div>
          <div class="row aptivTblFilterSectionBottomRow">
            <div class="col-sm aptivTblFilterSectionBottomCol">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                </div>
                <input type="text" class="form-control aptivTblFilterInput" name="filters.username" (keyup)="filter()"
                  [(ngModel)]="filters.username" />
              </div>
            </div>
          </div>
        </th>
        <th class="aptivTblHeaderColumns">
          <div class="row aptivTblFilterSectionTop">
            <div class="col-sm">
            </div>
          </div>
          <div class="row aptivTblFilterSectionBottomRow">
            <div class="col-sm aptivTblFilterSectionBottomCol">
              <div class="input-group">
                <input class="form-control aptivTblFilterInput CornerInput" aria-describedby="basic-addon1" disabled />
              </div>
            </div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Row of pagedData; let i = index">
        <td class="aptivTblBodyColumns">
          {{Row.first_name}}
        </td>
        <td class="aptivTblBodyColumns">
          {{Row.last_name}}
        </td>
        <td class="aptivTblBodyColumns">
          {{Row.username}}
        </td>
        <td class="aptivTblBodyColumns">
          <span>
            <!-- <app-reset-password-modal [(Keys)]="FormsData" [(EditData)]="pagedData[i]"></app-edit-item-modal> | -->
            <app-delete-user-modal [(Key)]="Row.first_name"></app-delete-user-modal>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div style="margin-top: 15px;">
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <button type="button" class="btn btn-light" (click)="setPage(1)">First</button>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <button type="button" class="btn btn-light" (click)="setPage(pager.currentPage - 1)">Previous</button>
    </li>
    <li *ngFor="let page of pager.pages">
      <span *ngIf="pager.currentPage === page">
        <button type="button" class="btn btn-light active" (click)="setPage(page)">{{page}}</button>
      </span>
      <span *ngIf="pager.currentPage !== page">
        <button type="button" class="btn btn-light" (click)="setPage(page)">{{page}}</button>
      </span>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <button type="button" class="btn btn-light" (click)="setPage(pager.currentPage + 1)">Next</button>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <button type="button" class="btn btn-light" (click)="setPage(pager.totalPages)">Last</button>
    </li>
  </ul>
</div>