<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Edit</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label>ID</label>
          <div class="input-group">
            <input type="number" class="form-control" id="id" name="id" [(ngModel)]="EditData.id" disabled/>
          </div>
        </div>
        <div class="form-group">
          <label>Unit</label>
          <div class="input-group">
            <input type="text" class="form-control" id="unit" name="unit" [(ngModel)]="EditData.unit"/>
          </div>
        </div>
        <div class="form-group">
          <label>Building</label>
          <div class="input-group">
            <input type="text" class="form-control" id="building" name="building" [(ngModel)]="EditData.building"/>
          </div>
        </div>
        <div class="form-group">
          <label>Street</label>
          <div class="input-group">
            <input type="text" class="form-control" id="street" name="street" [(ngModel)]="EditData.street"/>
          </div>
        </div>
        <div class="form-group">
            <label>City</label>
            <div class="input-group">
              <input type="text" class="form-control" id="city" name="city" [(ngModel)]="EditData.city"/>
            </div>
          </div>
          <div class="form-group">
              <label>Region</label>
              <div class="input-group">
                <input type="text" class="form-control" id="region" name="region" [(ngModel)]="EditData.region"/>
              </div>
            </div>
            <div class="form-group">
                <label>Country</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="country" name="country" [(ngModel)]="EditData.country"/>
                </div>
              </div>
              <div class="form-group">
                  <label>Address Code</label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="address_code" name="address_code" [(ngModel)]="EditData.address_code"/>
                  </div>
                </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="EditLocation(EditData); modal.close('Save click')">Save</button>
    </div>
  </ng-template>
  
  <a (click)="open(content)" style="cursor: pointer">Edit</a>