<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="margin: 10px;">
    <form>
      <div class="form-group">
        <label>ID</label>
        <div class="input-group">
          <input type="number" class="form-control" id="id" name="id" [(ngModel)]="AddData.ID" disabled />
        </div>
      </div>
      <div class="form-group">
        <label>Name</label>
        <div class="input-group">
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="AddData.Name" />
        </div>
      </div>
      <div class="form-group">
        <label>Price</label>
        <div class="input-group">
          <input type="number" min="0.00" max="10000.00" step="0.01" class="form-control" id="price" name="price"
            [(ngModel)]="AddData.Price" />
        </div>
      </div>
      <div class="form-group">
        <label>Quantity</label>
        <div class="input-group">
          <input type="number" class="form-control" id="quantity" name="quantity" [(ngModel)]="AddData.Quantity" />
        </div>
      </div>
      <input type="checkbox" class="form-check-input" id="ComputerTF" name="ComputerTF" [(ngModel)]="ComputerTF" /><label class="form-check-label" for="ComputerTF"><b>Computer?</b></label>
      <span *ngIf="ComputerTF">
        <div class="form-group">
          <label>UTag</label>
          <div class="input-group">
            <input type="text" class="form-control" id="utag" name="utag" [(ngModel)]="Computer.UTag" />
          </div>
        </div>
        <div class="form-group">
          <label>CPU</label>
          <div class="input-group">
            <input type="text" class="form-control" id="cpu" name="cpu" [(ngModel)]="Computer.CPU" />
          </div>
        </div>
        <div class="form-group">
          <label>RAM</label>
          <div class="input-group">
            <input type="number" class="form-control" id="ram" name="ram" [(ngModel)]="Computer.RAM" />
          </div>
        </div>
        <div class="form-group">
          <label>HDD</label>
          <div class="input-group">
            <input type="number" class="form-control" id="hdd" name="hdd" [(ngModel)]="Computer.HDD" />
          </div>
        </div>
      </span>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="SaveResults(AddData); modal.close('Save click')">Save</button>
  </div>
</ng-template>

<button type="button" class="btn btn-success" (click)="open(content)"><i class="fas fa-plus"></i></button>