<div class="text-center BackgroundImage">
  <form class="form-signup">
    <img class="mb-4" src="../../../assets/Images/aptiv_logo.png" width="300px"/>
    <h2 style="color: white" class="mb-4">Inventory Management</h2>
    <input name="username" type="text" [(ngModel)]="auth.credentials.username" class="form-control mb-1" placeholder="Username" required autofocus autocomplete="off" />
    <input name="password" type="password" [(ngModel)]="auth.credentials.password" class="form-control mb-1" placeholder="Password" required autocomplete="off" />
    <div class="mt-2">
        <div *ngIf="LoginError==0">
            <div class="alert alert-danger" role="alert">
              Incorrect password/username.
            </div>
          </div>
      <button style="margin-top: 20px;" class="btn btn-lg btn-primary btn-block" (click)="TryToLogin(auth.credentials)" type="submit">Login</button>
   </div>
  </form>
</div>
