<div class="text-center BackgroundImage">
    <form class="form-signup">
      <img class="mb-4" src="../../../assets/Images/aptiv_logo.png" width="300px"/>
      <h2 style="color: black" class="mb-4">Forgot Password</h2>
      <input type="text" class="form-control mb-1" placeholder="Username" />
      <input type="password" class="form-control mb-1" placeholder="New Password"  />
      <input type="password" class="form-control mb-1" placeholder="Verify New Password"  />
      <div class="mt-2">
   <button style="margin-top: 20px;" class="btn btn-lg btn-primary btn-block" (click)="ResetPassword()" type="submit">Submit</button>
     </div>
    </form>
  </div>
  