
<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
   
    <a class="navbar-brand" href="#"><img style="width: 150px; height: 45px; margin-top: -10px;" src="https://www.aptiv.com/images/default-source/email-campaigns/aptiv_logo_color_rgb.png"></a>
    
  
    <li style="float: right; right: 0; position: absolute; margin-right: 50px; list-style: none; ">
    <a class="" href="account/" style="color: white">Current User<img style="height: 30px; width: 35px; padding-left: 5px;"src="https://www.logolynx.com/images/logolynx/e5/e5ba79334133d2cb362dd639f755a392.png"></a>
</li>
    <br>
  
  </nav>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="background:#d0d3d8 !important">
       
      <ul class="navbar-nav">
        <li style="margin-left: 50px;" class="nav-item">
          <a style="color: gray;" class="nav-link" href="#">Inventory</a>
        </li>
        <li style="margin-left: 50px;" class="nav-item">
          <a style="color: gray;" class="nav-link" href="#">Inventory Types</a>
        </li>
        <li style="margin-left: 50px;" class="nav-item">
          <a  style="color: gray;"class="nav-link" href="#">Regions</a>
        </li>
        <li style="margin-left: 50px;"  class="nav-item">
            <a style="color: gray;" class="nav-link" href="#">Admin</a>
          </li>
      </ul>
      <br>
    
    </nav> -->
  
    <!-- <app-header-bar></app-header-bar>
<app-nav-bar></app-nav-bar> -->
 <app-aptiv-table [(Data)]="item"></app-aptiv-table> 
<!-- <app-aptiv-table [(Data)]="testData"></app-aptiv-table> -->
