<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <!-- <div class="form-group">
        <label>ID</label>
        <div class="input-group">
          <input type="number" class="form-control" id="id" name="id" [(ngModel)]="EditData.id" disabled/>
        </div>
      </div> -->
      <div class="form-group">
          <label>Name</label>
          <div class="input-group">
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="EditData.name" disabled/>
          </div>
        </div>
        <div class="form-group">
          <label>Brand/Vendor</label>
          <div class="input-group">
            <input type="text" class="form-control" id="brand" name="brand" [(ngModel)]="EditData.brand"/>
          </div>
        </div>
        <div class="form-group">
          <label>Model/Version</label>
          <div class="input-group">
              <input type="text" class="form-control" id="model" name="model" [(ngModel)]="EditData.model"/>
          </div>
        </div>
        <div class="form-group">
          <label>Serial Number</label>
          <div class="input-group">
            <input type="text" class="form-control" id="serial_number" name="serial_number" [(ngModel)]="EditData.serial_number"/>
          </div>
        </div>
        <div class="form-group">
            <label>Location ID</label>
            <div class="input-group">
              <input type="text" class="form-control" id="location_id" name="location_id" [(ngModel)]="EditData.location_id"/>
            </div>
          </div>
      <!-- <div class="form-group">
        <label>Price</label>
        <div class="input-group">
          <input type="number" min="0.00" max="10000.00" step="0.01" class="form-control" id="price" name="price" [(ngModel)]="EditData.price"/>
        </div>
      </div>
      <div class="form-group">
        <label>Quantity</label>
        <div class="input-group">
          <input type="number" class="form-control" id="quantity" name="quantity" [(ngModel)]="EditData.quantity"/>
        </div>
      </div> -->
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="EditItem(EditData); modal.close('Save click')">Save</button>
  </div>
</ng-template>

<a (click)="open(content)" style="cursor: pointer">Edit</a>